.starksigil {
    display: block;
    position: absolute;
    right:0%;
    max-width: 40%;
    max-height: 50%;
}
.lannistersigil {
    display: block;
    position: absolute;
    right:10%;
    max-width: 100%;
    max-height: 50%;
}
.baratheonsigil {
    display: block;
    position: absolute;
    right: 10%;
    max-width: 100%;
    max-height: 50%;
}
.targaryensigil {
    display: block;
    position: absolute;
    right: 0%;
    max-width: 100%;
    max-height: 50%;
}
.home {
    text-align: center;
    background-color: crimson;
}
.male {
    display: inline-flex;
    max-width: 1%;
    max-height: 1%;
}
.female {
    display: inline-flex;
    max-width: 1%;    
    max-height: 1%;
}